.card-title {
text-align: center;
}

.card-price{
    text-align: center;
}

.card-text{
    text-align: center;
}

.navbar-brand{
    font-size: 40px;
    font-family: 'Blue Spirits', 'cursive';
}

#navbar{
    padding: 30px 0;  
    box-shadow: 1px 1px 50px;
}

#navbarResponsive{
    font-family: 'Blue Spirits', 'cursive';
    font-size: 25px;
}

.col-lg-12{
    margin-top: 80px;
}

footer{ 
    display: flex !important;
    justify-content: center !important;  
    box-shadow: 1px 1px 50px;
}

.icone{
    color: white;
    margin: 0 40px;
}

#contain{
    background-color:rgba(255, 253, 253, 0.4);
    box-shadow: 1px 1px 50px;
   
}

