
body{
   
    background:#eee;
}

.navbar-brand{
    font-size: 35px;
    font-family: 'Special Elite', 'cursive';
}

#navbar{
    padding: 30px 0;  
    box-shadow: 1px 1px 50px;
}

#navbarResponsive{
    font-family: 'Special Elite', 'cursive';
    font-size: 20px;
}

footer{ 
    display: flex !important;
    justify-content: center !important;  
    box-shadow: 1px 1px 50px;
}

.icone{
    color: white;
    margin: 0 40px;
}



